# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

mnist_test.csv
mnist_test_100.csv
mnist_train.csv
mnist_train_1000.csv
*.json
